{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}