@import "./palette.css";

.filters-list li,
.lists-list li {
  position: relative;
}

.tasks-list li {
  position: relative;
}

/* For sidebar */
.sidebar .dropdown-menu-btn {
  display: none;

  border-radius: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 10px;
  background-color: transparent;
  padding: 12px;
}

.sidebar .dropdown-menu-btn:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.sidebar .dropdown-menu-btn.active {
  background-color: rgb(255, 255, 255, 0.5);
}

.sidebar .dropdown-menu-btn i {
  position: absolute;
  top: 6px;
  left: 10px;
}

.sidebar .dropdown-btn {
  text-align: left;
  padding: 12px;
  font-size: 0.9rem;
  border-radius: 0px;

  background-color: black;
  color: var(--p1);
}

.sidebar .dropdown-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .dropdown-btn.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.lists-list .dropdownMenu {
  opacity: 0;
  pointer-events: none;

  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  top: 100%;
  right: 0;

  padding: 0.75rem;
}

.lists-list .dropdownMenu.active {
  opacity: 1;
  pointer-events: auto;
}

/* For tasks */
.tasks-list .dropdown-menu-btn {
  border: none;
  border-radius: 4px;

  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px;
}

.tasks-list .dropdown-menu-btn:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.tasks-list .dropdown-menu-btn i {
  position: absolute;
  top: 6px;
  left: 10px;
}

.tasks-list .dropdown-btn {
  text-align: left;
  padding: 12px;
  padding-right: 24px;
  font-size: 0.9rem;

  background-color: black;
  color: var(--p1);
  width: 100%;
}

.tasks-list .dropdown-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tasks-list .dropdownMenu {
  opacity: 0;
  pointer-events: none;

  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  top: 100%;
  right: 0;

  padding: 0.75rem;
}

.tasks-list .dropdownMenu .options li {
  width: 100%;
}

.tasks-list .dropdown-menu-btn:focus + div {
  opacity: 1;
  pointer-events: auto;
}

/* Media queries */
@media (min-width: 980px) {
  .sidebar .dropdown-menu-btn {
    display: block;
  }
}
