@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --p0: #dccdf0;
  --p1: #c8b6e2;
  --p2: #a8a4ce;
  --p3: #7a86b6;
  --p3t: #7a86b663;
  --p4: #495c83;
  --p5: #394a6b;
  --p6: #303c55;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--p1);
  background-color: var(--p4);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--p1);
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Utility classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

body > .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 4fr 50px;
  height: 100vh;
}

/* Header */
.header {
  gap: 8px;
  grid-column: 1/ 3;
  grid-row: 1 / 2;
}

.primary-heading {
  font-size: 2rem;
}

/* Sidebar */
.sidebar {
  background-color: var(--p5);
}

.sidebar-content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 16px 16px;
  flex-direction: column;
}

.sidebar i {
  color: black;
}

.sidebar ul {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 8px;
}

.sidebar button {
  background-color: var(--p3);
  border: none;
  border-radius: 12px;
  padding: 0px 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  text-align: left;
}

.sidebar button:hover {
  background-color: var(--p2);
}

.sidebar button:active {
  background-color: var(--p1);
}

.lists {
  margin-top: 12px;
}

.lists h2,
.filters h2 {
  color: var(--p2);
}

.sidebar .add-list-btn {
  gap: 4px;
  padding: 0px 8px;
  margin-top: 8px;
}

.add-list-btn.active {
  display: none;
}

.add-list-popup {
  display: none;
}

.add-list-popup input[type="text"] {
  background-color: var(--p4);
  color: inherit;
  border: none;
  border-radius: 12px;
  padding: 4px 0px 4px 12px;
}

.add-list-popup input[type="text"]::placeholder {
  color: var(--p3);
  font-family: "Lato";
}

.add-list-popup.active {
  display: block;
}

/* Main */
.main {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  padding: 32px;
  background-color: var(--p6);
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 24px;
}

.main-header input[type="text"] {
  background-color: var(--p4);
  color: inherit;
  border: none;
  border-radius: 12px;
  padding: 4px 0px 4px 12px;
  width: 50%;
}

.addTaskForm {
  flex: 1;
  display: none;
}

.main-header input[type="text"]::placeholder {
  color: var(--p3);
  font-family: "Lato";
}

/* .main .list-name {
    margin-right: 32px;
    margin-bottom: 32px;
} */

.tasks {
  display: grid;
}

.tasks li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  color: black;
  border-radius: 24px;
  width: 80%;
  user-select: none;

  position: relative;
}

.task input[type="checkbox"] {
  display: none;
}

.task label {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  padding-left: 32px;
  color: var(--p1);
}

.task label::before {
  position: absolute;
  content: "";
  left: 12px;
  width: 12px;
  height: 12px;
  background-image: url("assets/circle-regular.svg");
  background-repeat: no-repeat;
}

.task input[type="checkbox"]:checked + label::before {
  background-image: url("assets/circle-check-regular.svg");
}
.task input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--p2);
}

.task:hover {
  background-color: var(--p3t);
}

/* Footer */
.footer {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  gap: 8px;
  grid-column: 1 / 3;
}

/* Media queries */

@media (min-width: 480px) {
  .sidebar-content {
    margin-left: 32px;
  }
}
@media (min-width: 980px) {
  body > .container {
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px 1fr 50px;
  }

  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .filters li {
    width: 80%;
  }

  .sidebar button {
    width: 100%;
  }

  .sidebar-content {
    justify-content: start;
    margin: 32px;
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .sidebar ul {
    flex-direction: column;
  }

  .lists h2 {
    margin-top: 24px;
  }

  .sidebar h2 {
    margin-bottom: 12px;
  }

  .sidebar .add-list-btn {
    margin-top: 16px;
  }

  .lists,
  .filters {
    width: 100%;
  }
}
